
.App{
  height: 100%; /* Make this site really long */
  width: 100%; /* Make this site really wide */
  overflow: hidden; /* Hide scrollbars */
}


.App-header {
display: inline-flex;
  font-size: calc(6px + 2vmin);
  color: aliceblue;
  padding: 0px;
}
.App-header_1{
  display: inline-flex;
  font-size: calc(6px + 2vmin);
  color: aliceblue;
  padding: 5px;
 }
 .App-header_4{
  display: inline-flex;
  font-size: calc(6px+ 2vmin);
  color: aliceblue;
  padding: 0vw ;
  padding-top: 2vw;
  
 }
 .App-header_5{
  display: inline-block;
  font-size: calc(6px+ 2vmin);
  color: aliceblue;
  padding: 0vw ;
  padding-top: 0vw;
 }
 .App-header_6{
  display: inline-block;
  font-size: calc(6px+ 2vmin);
  color: aliceblue;
  padding: 18vw ;
  padding-top: 0vw;
 }

 .App-header_7{
  display: inline-block;
  font-size: calc(6px+ 2vmin);
  color: aliceblue;
  padding: 0vw ;
  padding-top: 0vw;
 }

 .App-header_8{
  display: inline-flex;
  font-size: calc(6px+ 2vmin);
  color: aliceblue;
  padding: 0vw ;
  padding-top: 0vw;
 }

 .App-header_9{
  display: inline-flex;
  font-size: calc(6px+ 2vmin);
  color: aliceblue;
  padding: 0vw ;
  padding-top: 0vw;
 }




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
